body {
  font-family: Cairo, sans-serif;
  margin: 0;
  background: #f5f7fa;
  text-align: center;
}

.navbar {
  background: #0a3d62;
  color: #fff;
  padding: 15px;
}

.navbar a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 80px;
  background: #fff;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
}

.primary {
  background: #fbc531;
  color: #000;
}

.secondary {
  border: 1px solid #000;
}
